certifi==2017.11.5
chardet==3.0.4
dj-database-url==0.4.1
Django==1.11.1
django-cors-headers==2.1.0
django-tracking2==0.4.0
djangorestframework==3.7.3
gunicorn==19.6.0
idna==2.6
psycopg2==2.7.3.1
pyactiveresource==2.1.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
ShopifyAPI==2.5.1
six==1.10.0
slacker==0.9.42
slacker-log-handler==1.6.1
urllib3==1.22
whitenoise==3.2
