<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: {{ api_key }},
      shopOrigin: 'https://{{ shop }}.myshopify.com'
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>
    {{ shop }}
  </title>
  <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.8.3/polaris.min.css" />
</head>

<body>
<!--Root Element for React -->
<div id="root"></div>
<script type="text/javascript">
    ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({
            title: 'Hello Shopify - Index'
        });
    });
</script>
<div id="div1">
  <p id="p1">This is a paragraph.</p>
  <p id="p2">This is another paragraph.</p>
</div>

<script>
  console.log("Enter this block.");
  var para = document.createElement("p");
  var node = document.createTextNode("This is new.");
  para.appendChild(node);

  var element = document.getElementById("div1");
  element.appendChild(para);
</script>

Hello World!
</body>

{% load static %}
<script src="{% static 'app/bundle.js' %}"></script>
