<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: '{{ api_key }}',
      shopOrigin: 'https://{{ shop }}'
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>
    {{ shop }}
  </title>
  <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.8.3/polaris.min.css" />
</head>

<body>
<!--Root Element for React -->
<div id="root"></div>
<script type="text/javascript">
    var context = {
        shop: '{{ shop }}',
        appUrl: '{{ app_url }}'
    };

    ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({
            title: 'Hello Shopify - Index'
        });
    });
</script>

</body>

{% load static %}
<script src="{% static 'app/bundle.js' %}"></script>
